body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  /* tex-align: centerはインライン要素か１００％の幅をもったブロック要素にのみ対応 */
  text-align: center;
}

.top-container {
  background-color: #e5ebb2;
  padding-top: 200px;
  position: relative;
}

h1,
h2,
p {
  margin: 0;
  padding: 10px;
  /*もしこれを設定したら、centerでなくなる width: 10%; */
  color: rgb(94, 94, 94);
  position: relative;
  z-index: 2;
}

.myname {
  font-size: 4rem;
  padding-bottom: 0;
}

.top-container h2 {
  font-size: 2rem;
}

.top-cloud {
  position: absolute;
  right: 20%;
}

.bottom-cloud {
  position: absolute;
  left: 25%;
  opacity: 0.8;
}

.mountain {
  margin-bottom: -5px;
  width: 50%;
}

.middle-container {
  background-color: darkseagreen;
  padding-top: 30px;
}

.middle-container h2:first-of-type {
  color: darkred;
  margin-bottom: 20px;
}

.aqua-box {
  background-color: aqua;
  display: inline-block;
  height: 200px;
  width: 200px;
}

.brown-box {
  background-color: brown;
  display: inline-block;
  height: 200px;
  width: 200px;
}

.red-box {
  background-color: red;
  height: 200px;
  width: 200px;
  display: inline-block;
}

.box-p {
  color: azure;
  font-size: 20px;
  position: relative;
  top: 75px;
}

.profile_img {
  margin-top: 10px;
}

.p_img {
  background-color: rgba(240, 248, 255, 0.866);
  border-radius: 30%;
  padding: 20px;
}

.cited {
  font-size: small;
}
